#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{
font-weight:200;
color:#333;

}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:9999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{
position:absolute;
font-size:14px;
line-height:24px;
height:24px;
top:50%;
margin-top:12px;
width:100%;
text-align:center;

}

#sb-loading-inner span{background:url(../images/colour/loading.gif) no-repeat;display:inline-block;padding-left: 34px; color:#333; font-weight:500;}
#sb-body,#sb-loading{background-color:#fff;}
#sb-title{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{line-height:26px;}
#sb-title-inner{font-size: 12px;
letter-spacing: 1px;
color: #fff;
}

#sb-info{
}

#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}



#sb-nav-previous{background-image:url(../images/colour/previous.png);}
#sb-nav-play{background-image:url(../images/colour/play.png);}
#sb-nav-pause{background-image:url(../images/colour/pause.png);}
#sb-counter{float:left;width:45%; display:none;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}


#sb-title{
margin-top:10px;
}



#sb-nav-close {
background-image: url(../images/colour/close.png);
position: fixed;
top: 0px;
right: 0;
width: 50px;
height: 80px;
z-index:9999;
cursor:pointer;
}


#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}

#sb-nav a{
display:block;
float:right;
cursor:pointer;
background-repeat:no-repeat;

}


#sb-nav-next {
background-image: url(../images/colour/next.png);
background-position: right 50%;
width: 50%;
height: 100%;
position: fixed;
right: 0px;
top: 0;
}


#sb-nav-previous {
background-image: url(../images/colour/previous.png);
background-position: left 50%;
width: 50%;
height: 100%;
position: fixed;
left: 0px;
top: 0;
}