@charset "utf-8";

#shoplist .todou_huken {
   margin-bottom: 20px;
   background-color: #333333;
   color:#ffffff;
   padding:3px;
}

#shoplist h3 {
   font-family: sans-serif ;
}

#shoplist ul li {
	margin-bottom:5px;
}
#shoplist .todou_content{
	margin-bottom: 20px;
}
#shoplist .section {
	display: inline;
}
#shoplist .section ul li{
	display: inline;
    padding: 3px;
	background-color: #333333;
	color:#ffffff;
	text-align: center;
}
#shoplist .section ul .section_1{
	background-color: #427e83;
}
#shoplist .section ul .section_2{
	background-color: #333333;
}
#shoplist ul li h4{
	margin-top: 5px;
	font-size: 16px;
}
#shoplist ul li h4 a{
	color: #000;
	
	
}
#shoplist ul li h4 a:hover{
	color: #60aa91;
}

